body {
	max-width: 50em;
}

:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #C0C0C0;
	--color-gray-90: #333;

	--background-color: #EEEFE0;

	--text-color: #525B44;
	--text-color-link: #819A91;
	--text-color-link-active: #A7C1A8;
	--text-color-link-visited: #819A91;

	--syntax-tab-size: 2;
}

a {
	text-decoration: none;
}

/* Tags */
.post-tag {
	font-style: normal;
}

/* 其他页面样式, 例如: 关于我 */
blockquote {
	border-left: 3px solid #333333;
	background-color: #F2EFE7;
	padding: 9px 9px 9px 15px;
}

/* 文章内部样式 */
.page-post {
	margin: 10px 0;
}

.page-post {
	font-size: 18px;
}

.page-post a {
	text-decoration: none;
	color: #8AA624;
	border-bottom: 1px solid #8AA624
}

/* 引用 */
.page-post blockquote {
	border-left: 3px solid #333333;
	background-color: #F2EFE7;
	padding: 9px 9px 9px 15px;
}

/* 单行代码 */
.page-post code {
	font-size: 13px;
	background-color: #F2EFE7;
	word-break: break-all;
	padding: 3px 5px;
	margin: 0 4px;
	border-radius: 5px;
	color: #333333;
	transition: all 500ms ease;
	font-style: normal;
}