* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    color: #002b36;
    min-height: 100%;
    background-color: #f3eac2;
    position: relative;
    font-family: telexregular, Hiragino Sans GB, Microsoft YaHei, Courier, sans-serif;
    line-height: 2.4em;
}

ol, ul, li {
    list-style-position: inside;
    margin: 0 0 0 0.2em;
}

ul ol, ul ul, ol ol, ol ul {
    margin: 0 0 0 1.2em;
}

a {
    color: #ec524b;
}

hr {
    border: 0.1em dashed #ec524b;
    border-radius: 0.1em;
}

h2 {
    color: #16697a;
}

h3 {
    color: #db6400;
}

h4 {
    color: #ffa62b;
}

section span time {
    color: #16697a;
}

blockquote {
    border-radius: 3px;
    border-left: 0.2em solid #f5b461 !important;
    font-size: 1.2em;
    line-height: 2.0;
    margin: 1em 0 1em 0;
    font-style: italic;
}

blockquote p, blockquote h2, blockquote h3, blockquote h4, blockquote h5, blockquote h6 {
    margin: 0 0 0 1em;
}

pre code {
    border-top: 0.2em solid #ec524b !important;
    border-bottom: 0.2em solid #ec524b !important;
    margin: 15px 0 15px 0;
    line-height: 2.0;
    background-color: #ffe !important;
}

code {
    padding: 2px 5px;
    border: 0;
}

article {
    font-size: 16px;
    z-index: 1;
    overflow: hidden;
}

article .divider {
    position: relative;
    font-size: 1em;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}

article .divider:before, article .divider:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 49%;
    height: 2px;
    content: '\a0';
    background-color: #ec524b;
}

article .divider:before {
    margin-left: -50%;
    text-align: right;
}

article .divider:after {
    margin-left: 1%;
}

.header {
    padding: 2em 24em;
}

.header header #header {
    display: inline-block;
    position: relative;
    top: 1em;
}

.header header #header h1 a {
    display: block;
    color: #ec524b;
}

/*blog name end*/

.header header {
    text-align: justify;
}

.header header:after {
    content: '';
    width: 100%;
    display: inline-block;
}

.header header nav {
    display: inline-block;
    position: relative;
    top: 1em;
}

.header header nav span {
    margin: .5em;
}

/*blog icons end*/

.content {
    padding: 1em 21em 2em 21em;
}

.content .main-listing {
    margin-bottom: 2em;
}

.footer {
    position: absolute;
    bottom: 15px;
    width: 100%;
    height: 20px;
    text-align: center;
    color: #f5b461;
}

.footer a {
    color: #ec524b;
}

ul.listing {
    margin-top: 1em;
}

ul.listing li {
    list-style-type: none;
    padding: 0;
}

ul.listing li.listing-item a, ul.listing li.listing-item a {
    padding: .2em 0 .2em 2em;
}

ul.listing li.listing-item time {
    color: #f5b461;
}

ul.listing li.listing-seperator {
    margin: 1em 0;
    color: #f5b461;
}

ul.listing li.listing-seperator a {
    color: #f5b461;
}

ul.listing li.listing-seperator:before {
    content: "♥ ";
    color: #f5b461;
}

article .post img {
    max-width: 100%;
    margin: .5em auto;
    display: inline !important;
}


@media screen and (min-width: 320px) and (max-width: 375px) {
    body {
        width: 320px;
    }

    .header {
        padding: 0 0;
    }

    .content {
        padding: 0 0;
    }

    .footer {
        display: none;
    }
}

@media screen and (min-width: 375px) and (max-width: 414px) {
    body {
        width: 375px;
    }

    .header {
        padding: 0 0;
    }

    .content {
        padding: 0 0;
    }

    .footer {
        display: none;
    }
}

@media screen and (min-width: 414px) and (max-width: 760px) {
    body {
        width: 400px;
    }

    .header {
        padding: 0 0;
    }

    .content {
        padding: 0 0;
    }

    .footer {
        display: none;
    }
}

@media screen and (min-width: 760px) and (max-width: 800px) {
    body {
        width: 760px;
    }

    .header {
        padding: 0 0;
    }

    .content {
        padding: 0 0;
    }

    .footer {
        display: none;
    }
}

@media screen and (min-width: 800px) and (max-width: 1100px) {
    body {
        width: 1024px;
    }

    .header {
        padding: 4% 4%;
    }

    .content {
        padding: 4% 4%;
    }

    .footer {
        display: none;
    }
}
