* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    color: #ce9f9f;
    min-height: 100%;
    background-color: #212121;
    position: relative;
    font-family: telexregular, Hiragino Sans GB, Microsoft YaHei, Courier, sans-serif;
    line-height: 2.4em;
}

ol, ul, li {
    list-style-position: inside;
    list-style-image: url("../img/bullet.png");
    margin: 0 0 0 0.2em;
}

ul ol, ul ul, ol ol, ol ul {
    margin: 0 0 0 1.2em;
}

a {
    color: #63c0f5;
    text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}

hr {
    border: 0.1em dashed #63c0f5;
    border-radius: 0.1em;
}

h2, h3, h4, h5, h6 {
    color: #d9f5ef;
}

section span time {
    color: #f5e5b9;
}

blockquote {
    background-color: #1b1f23 !important;
    border-radius: 3px;
    border-left: 0.2em solid #08ec1c !important;
    font-size: 1.2em;
    line-height: 2.0;
    color: #b5e853;
    margin: 1em 0 1em 0;
}

blockquote p, blockquote h2, blockquote h3, blockquote h4, blockquote h5, blockquote h6 {
    margin: 0 0 0 1em;
}

pre code {
    margin: 15px 0 15px 0;
    border-radius: 3px;
    line-height: 2.0;
    background-color: rgba(21, 21, 21, 0.64) !important;
}

code {
    padding: 2px 5px;
    border: 0;
}

article {
    font-size: 16px;
    z-index: 1;
    overflow: hidden;
}

article .divider {
    position: relative;
    font-size: 1em;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}

article .divider:before, article .divider:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 49%;
    height: 2px;
    content: '\a0';
    background-color: #63c0f5;
}

article .divider:before {
    margin-left: -50%;
    text-align: right;
}

article .divider:after {
    margin-left: 1%;
}

.header {
    padding: 2em 24em;
}

.header header #header {
    display: inline-block;
    position: relative;
    top: 1em;
}

.header header #header h1 a {
    color: #63c0f5;
    text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
    display: block;
}

/*blog name end*/

.header header {
    text-align: justify;
}

.header header:after {
    content: '';
    width: 100%;
    display: inline-block;
}

.header header nav {
    display: inline-block;
    position: relative;
    top: 1em;
}

.header header nav span {
    margin: .5em;
}

.header header nav span a {
    color: #63c0f5;
    text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}

/*blog icons end*/

.content {
    padding: 1em 24em 2em 24em;
}

.content .main-listing {
    margin-bottom: 2em;
}

.footer {
    position: absolute;
    bottom: 5px;
    width: 100%;
    height: 20px;
    text-align: center;
    color: #b5e853;
}

.footer a {
    color: #63c0f5;
    text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}

ul.listing {
    margin-top: 1em;
}

ul.listing li {
    list-style-type: none;
    padding: 0;
}

ul.listing li.listing-item a, ul.listing li.listing-item a {
    padding: .2em 0 .2em 2em;
    color: #63c0f5 !important;
    text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}

ul.listing li.listing-item time {
    color: #b5e853;
}

ul.listing li.listing-seperator {
    margin: 1em 0;
    color: #b5e853;
}

ul.listing li.listing-seperator a {
    color: #b5e853;
}

ul.listing li.listing-seperator:before {
    content: "♥ ";
    color: #b5e853;
}

article .post img {
    max-width: 100%;
    margin: .5em auto;
    display: inline !important;
}
