---
layout: default
title: blog, notes, and book writeups.
---

<div id="home">
  <h2><i class="fa fa-smile-o"></i> Tech</h2>
  <ul id="tech-posts" class="posts">
    {% for post in site.categories.tech %}
        <li><span>{{ post.date | date_to_string }} &raquo;</span><a class="post-link" href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <h2><i class="fa fa-heart"></i> Amity</h2>
  <ul id="love-posts" class="posts">
      {% for post in site.categories.love %}
	    <li><span>{{ post.date | date_to_string }} &raquo;</span><a class="post-link" href="{{ post.url }}">{{ post.title }}</a></li>
	 {% endfor %}
  </ul>

  <h2><i class="fa fa-gamepad"></i> Jx3</h2>
  <ul id="jx3-posts" class="posts">
    {% for post in site.categories.jx3 %}
      <li><span>{{ post.date | date_to_string }} &raquo;</span><a class="post-link" href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <h2><i class="fa fa-desktop"></i> Work</h2>
  <ul id="desktop-posts" class="posts">
      {% for post in site.categories.work %}
	    <li><span>{{ post.date | date_to_string }} &raquo;</span><a class="post-link" href="{{ post.url }}">{{ post.title }}</a></li>
	  {% endfor %}
  </ul>

  <h2><i class="fa fa-pagelines"></i> Chip</h2>
  <ul id="chip-posts" class="posts">
    {% for post in site.categories.chip %}
      <li><span>{{ post.date | date_to_string }} &raquo;</span><a class="post-link" href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
