---js
const pagination = {
	data: "i18n.languages",
	size: 1,
	alias: "locale"
};

const eleventyComputed = {
	lang: data => data.locale.code,
	permalink: data => `/${data.locale.code}/blog/`,
	title: data => data.i18n.messages[data.locale.code].blog.title
};
---
<div class="page-title">
	<h2>{{ "blog.title" | t(lang) }}</h2>
</div>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
