---js
const pagination = {
	data: "collections.localizedCategories",
	size: 1,
	alias: "localizedCategory"
};

const eleventyExcludeFromCollections = true;

const eleventyComputed = {
	lang: data => data.localizedCategory.locale.code,
	title: data => data.localizedCategory.category,
	permalink: data => data.localizedCategory.url
};
---
<div class="page-title">
	<h2>{{ "nav.categories" | t(lang) }}: {{ localizedCategory.category | taxonomyName("categories", lang) }}</h2>
</div>

{% set postslist = localizedCategory.posts %}
{% include "postslist.njk" %}

<div class="page-footer">
	<p><a href="{{ "/categories/" | localizedUrl(lang) }}">{{ "categories.title" | t(lang) }}</a></p>
</div>
