---js
const eleventyNavigation = {
	key: "分类",
	order: 2
};
---
<div class="page-title">
	<h2>分类列表</h2>
</div>

<div class="surface-card">
	<ul class="categories-page">
	{% for category in collections.categories %}
		<li><a href="/categories/{{category.title}}/" class="post-category">{{ category.title }}</a></li>
	{% endfor %}
	</ul>
</div>