---
layout: layouts/root.njk
permalink: /
title: 大蜕
eleventyExcludeFromCollections: true
---
<noscript>
	<p><a href="/zh/">{{ i18n.messages.zh.root.zh }}</a></p>
	<p><a href="/en/">{{ i18n.messages.en.root.en }}</a></p>
</noscript>
