---js
const pagination = {
	data: "collections.localizedTags",
	size: 1,
	alias: "localizedTag"
};

const eleventyExcludeFromCollections = true;

const eleventyComputed = {
	lang: data => data.localizedTag.locale.code,
	title: data => data.localizedTag.tag,
	permalink: data => data.localizedTag.url
};
---
<div class="page-title">
	<h2>{{ "nav.tags" | t(lang) }}: {{ localizedTag.tag | taxonomyName("tags", lang) }}</h2>
</div>

{% set postslist = localizedTag.posts %}
{% include "postslist.njk" %}

<div class="page-footer">
	<p><a href="{{ "/tags/" | localizedUrl(lang) }}">{{ "tags.title" | t(lang) }}</a></p>
</div>
