---js
// <script>
const pagination = {
	data: "collections",
	size: 1,
	alias: "tag",
	filter: ["all", "posts"],
	// addAllPagesToCollections: true,
};

const eleventyExcludeFromCollections = true;

const eleventyComputed = {
	title: "{{ tag }}",
	permalink: function(data) {
		return `/tags/${data.tag}/`;
	}
};
---
<div class="page-title">
	<h2>标签: {{ tag }}</h2>
</div>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<div class="page-footer">
	<p>See <a href="tags.njk">all tags</a>.</p>
</div>
