---js
const eleventyNavigation = {
	key: "标签",
	order: 3
};
---
<div class="page-title">
	<h2>标签列表</h2>
</div>

<ul class="tags-page">
{% for tag in collections | getKeys | filterTagList | sortAlphabetically %}
	{% set tagUrl %}/tags/{{ tag }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a></li>
{% endfor %}
</ul>
