{%- assign buildAt = site.time | date: "%Y%m%d%H%M%S" -%}
<script type="text/javascript" src="{{site.baseurl}}/static/js/blog.js?t={{ buildAt }}"></script>

{%- if site.extClickEffect %}
<!-- 点击页面文字冒出特效 -->
<script>
  ; (function () {
    var textArr = ['富强', '民主', '文明', '和谐', '自由', '平等', '公正', '法治', '爱国', '敬业', '诚信', '友善']
    window.blog.initClickEffect(textArr)
  })()
</script>
{% endif %}

<!-- google analysis start -->
<script type="text/javascript" src="/media/js/google-analysis.js"></script>
<!-- google analysis start -->

<!--Sentry start-->
<script src="https://browser.sentry-cdn.com/5.6.3/bundle.min.js"
  integrity="sha384-/Cqa/8kaWn7emdqIBLk3AkFMAHBk0LObErtMhO+hr52CntkaurEnihPmqYj3uJho" crossorigin="anonymous">
  </script>
<script>
  Sentry.init({ dsn: 'https://825ac96a4ae84eaba89af2f7009bdad7@sentry.io/1770839' });
</script>
<!--Sentry end-->

<!--ukagaka start-->
<!--disabled cause domain blocked in China at 2025 Jul 3-->
<!-- <link type="text/css" href="https://cdn.jsdelivr.net/gh/universe-white-chief/ukagaka/css/style.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/media/js/ukagaka.js"></script> -->
<!--ukagaka end-->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KVM27VFBYL"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-KVM27VFBYL');
</script>
<!-- Global site tag (gtag.js) - Google Analytics end -->