---
layout: layouts/base.njk
---
<div class="post-layout">
	<article class="post-content">
		{# Only include the syntax highlighter CSS on blog posts, included with the CSS per-page bundle #}
		<style>{% include "node_modules/prismjs/themes/prism-tomorrow.css" %}</style>
		<h1>{{ title }}</h1>

		<ul class="post-metadata">
			<li><time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time></li>
			{{ "post.tags" | t(lang) }}:
			{%- for tag in tags | filterTagList %}
			{%- set tagUrl %}/tags/{{ tag }}/{% endset %}
			<li><a href="{{ tagUrl | localizedUrl(lang) }}" class="post-tag">{{ tag | taxonomyName("tags", lang) }}</a>{%- if not loop.last %}, {% endif %}</li>
			{%- endfor %}
		</ul>

		<div class="page-post surface-card">
			{{ content | safe }}
		</div>

		{%- if nextPost or previousPost %}
		<ul class="links-nextprev">
			{%- if previousPost %}<li class="links-nextprev-prev">← {{ "post.previous" | t(lang) }}<br> <a href="{{ previousPost | localizedPostUrl(lang) }}">{{ previousPost.data.title }}</a></li>{% endif %}
			{%- if nextPost %}<li class="links-nextprev-next">{{ "post.next" | t(lang) }} →<br><a href="{{ nextPost | localizedPostUrl(lang) }}">{{ nextPost.data.title }}</a></li>{% endif %}
		</ul>
		{%- endif %}
	</article>
	<aside class="post-toc">
		{{ content | toc(ul=true, wrapper='div', wrapperClass='content-tableau') | safe }}
	</aside>
</div>
