## https://docs.github.com/en/code-security/tutorials/secure-your-dependencies/automating-dependabot-with-github-actions#enabling-automerge-on-a-pull-request
name: Dependabot auto-merge

on:
  pull_request_target:
    branches:
      - main

permissions:
  contents: read
  pull-requests: write

jobs:
  auto-merge:
    name: Auto Merge Dependabot PRs
    uses: sddtc/shared-actions/.github/workflows/auto-merge-pr.yml@main
    secrets: inherit